.editSection {
   color: black;
   background-color: burlywood;
   text-align: center;
   vertical-align: center;
   text-wrap: nowrap;
}

.editRow {
   color: black;
   background-color: burlywood;
   text-align: center;
   vertical-align: center;
   text-wrap: nowrap;
   border-bottom: black;
}

.displaySection {
   color: blue;
   background-color: white;
   text-align: center;
   vertical-align: center;
   text-wrap: nowrap;
}

.displayRow {
   color: blue;
   background-color: burlywood;
   text-align: center;
   vertical-align: center;
   text-wrap: nowrap;
   border-bottom: black;
}